<div
  style="background-color:#fff;width:90%;display:flex;justify-content:center;flex-wrap:wrap;border-radius:10px;box-shadow: 0 3px 1px -2pxrgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);">
  <div style="width:100%;display:flex;justify-content:center;flex-wrap:wrap;">
    <h2 style="width:100%;text-align:center;">Demande de réinitialisation de mot de passe</h2>
    <h3 style="width:100%;text-align:center;">DE : <%= @renew_password[:agent_email] %> </h3>
    <h3 style="width:100%;text-align:center;">Liens: <a target="_blank"
        href='<%= @secure_url %>'><%= @secure_url %></a> </h3>
  </div>
  <div style="width:90%;">
    <p style="text-align:justify;"> 
      Cliquez sur le lien pour réinitialiser votre mot de passe. 
      Attention, si cette étape de réinitialisation n'est pas de votre initiative, 
      veillez à modifier votre mot de passe par sécurité dans les plus brefs délais.
    </p><br>
    <br>
    <p>Envoyé à : <%= DateTime.now.utc.in_time_zone("Paris").strftime("%Hh%M le %d/%m/%Y")%></p>
  </div>
</div>
